@media screen and (max-width: 600px) {
  header,
  main {
    max-width: 90%;
    margin: 0 auto;
  }
  .nav-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .banner-content {
    padding-top: 20px;
  }
  .banner-descriptions {
    margin: 5px 0 5px 0;
    padding: 0 20px;
  }
  .find-option,
  .popular-container,
  .choose-cart-top {
    flex-direction: column;
  }
  .find-option input,
  .find-option select,
  .find-option button {
    width: 300px;
    margin: 5px 0;
  }
  .popular-image,
  .popular-content,
  .choose-cart {
    width: 100%;
  }
  .popular-container,
  .choose-cart-top {
    gap: 30px;
  }
  .destination-images .a,
  .destination-images .b {
    grid-column: span 12;
  }
  .destination-images .c {
    grid-column: span 12;
  }
  .destination-images .d {
    grid-column: span 12;
  }
  .destination-images .e {
    grid-column: span 12;
  }
  .destination-images .f {
    grid-column: span 12;
  }
  .destination-images .g {
    grid-column: span 12;
  }
  .destination-images {
    grid-template-rows: repeat(7, 200px);
  }
  .destination-content p,
  .choose-description {
    margin: 20px 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .nav-bar {
    flex-direction: column;
    gap: 20px;
  }
  .nav-menu {
    width: 80%;
  }
  .banner-content {
    padding-top: 40px;
  }
  .banner-description {
    margin: 5px 0 10px 0;
    padding: 0 20px;
  }
  .find-option,
  .popular-container,
  .choose-cart-top {
    flex-direction: column;
  }
  .find-option input,
  .find-option select,
  .find-option button {
    width: 300px;
    margin: 5px 0;
  }
  .popular-image,
  .popular-content,
  .choose-cart {
    width: 100%;
  }
  .popular-container,
  .choose-cart-top {
    gap: 30px;
  }
  .destination-content p,
  .choose-description {
    margin: 20px 0;
  }
}
