@media screen and (max-width: 600px) {
  header,
  main {
    max-width: 90%;
    margin: 0 auto;
  }
  .nav-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .banner-content {
    padding-top: 20px;
  }
  .banner-description {
    margin: 5px 0 5px 0;
    padding: 0 20px;
  }
  .find-option {
    flex-direction: column;
  }
  .find-option input,
  .find-option select,
  .find-option button {
    width: 300px;
    margin: 5px 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .nav-bar {
    flex-direction: column;
    gap: 20px;
  }
  .nav-menu {
    width: 80%;
  }
  .banner-content {
    padding-top: 40px;
  }
  .banner-description {
    margin: 5px 0 10px 0;
    padding: 0 20px;
  }
  .find-option {
    flex-direction: column;
  }
  .find-option input,
  .find-option select,
  .find-option button {
    width: 300px;
    margin: 5px 0;
  }
}
