* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
header,
main {
  max-width: 80%;
  margin: 0 auto;
}

p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  line-height: 1.625rem;
}
h3 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
button {
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #ff5400;
  font-weight: 700;
  padding: 10px 30px;
}

/* Nav Section */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.nav-logo {
  display: flex;
  align-items: center;
}
.nav-menu {
  min-width: 45%;
  display: flex;
  justify-content: space-between;
  color: #131318;
}
.nav-menu a {
  text-decoration: none;
  color: #424247;
}
.nav-menu li {
  font-size: 1.1rem;
  list-style: none;
}

.nav-logo h2 {
  font-size: 2rem;
  font-weight: 800;
}
.nav-logo img {
  margin-right: 10px;
}

.hamburger-menu {
  display: none;
}

/* Banner Section */
.banner-section {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group13.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 100%;
  height: 550px;
  background-position: center;
}

.banner-content {
  padding-top: 100px;
  text-align: center;
}

.banner-title {
  color: white;
  font-size: 4rem;
  font-weight: 800;
}

.banner-description {
  color: white;
  margin: 24px 0 30px 0;
  padding: 0 240px;
}

.find-option {
  display: flex;
  padding: 10px;
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(163, 163, 163, 0.5);
  border-radius: 8px;
}

.find-option input,
.find-option select,
.find-option button {
  height: 40px;
  width: 144px;
  padding-left: 10px;
  margin: 0 5px;
  border-radius: 8px;
  border: none;
  color: #424247;
}
.find-option button i {
  margin-right: 10px;
}
.find-option button {
  color: white;
}

/* Popular Section */

.popular-section {
  margin: 80px 0;
}
.popular-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-content {
  width: 45%;
  color: rgba(19, 19, 24, 0.7);
}
.popular-image {
  width: 45%;
}

.popular-content p,
.popular-content li {
  margin: 24px 0;
}
.popular-content li {
  margin-left: 16px;
}

.popular-container img {
  width: 100%;
}
